
.main{
margin: auto;
}

table{
    border:  2px solid black;
    background-color: black;
    border-radius: 25px;
}
.clear{
    border-radius: 25px;
    height: 40px;
    width: 126px;
}
.rad{
    margin-top: 5px;
    border-radius: 25px;
    height: 40px;
    width: 40px;
}
input{
height: 45px;
border-radius: 25px;
}
.zero{
    width: 85px;
    height: 40px;
    border-radius: 25px;
}
.ope{
    background-color:orange;
}